{% load static %}
<!-- Tailwind CDN -->
<script src="https://cdn.tailwindcss.com"></script>
<!-- Jquery CDN -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<script src="{% static 'js/form-validation.js' %}"></script>
<script src="{% static 'js/theme-toggle.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/htmx_min.js' %}"></script>
<!-- Datatables Script -->
<script src="https://cdn.datatables.net/2.1.6/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.1.6/js/dataTables.tailwindcss.min.js"></script>